@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    --cor-cinza-escuro: rgb(39, 39, 39);
    --cor-cinza: rgb(58, 58, 58);
    --cor-cinza-claro: rgb(53, 53, 53);
    --cor-banco: #fff;
    color: var(--cor-banco);
}

.logobar {
    margin-bottom: 50px;
}
.logo__img {
    width: 300px;
}

html {
    font-size: 17px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
